# Series 활용

## #01. 준비과정

### [1] 패키지 참조

In [1]:
import numpy as np
from pandas import Series

## #02. 조건검색
### [1] 샘플 데이터 정의

In [2]:
column = Series(np.arange(0, 100, 10))
column

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int32

### [2] 이름[이름에 대한 조건식]

In [3]:
in1 = column[column>30]
in1

4    40
5    50
6    60
7    70
8    80
9    90
dtype: int32

### [3] AND 검색

In [4]:
in2 = column[column <= 70][column>10]
in2

2    20
3    30
4    40
5    50
6    60
7    70
dtype: int32

### [4] OR 검색

In [6]:
in3 = column[(column<=10) | (column>=70)]
in3

0     0
1    10
7    70
8    80
9    90
dtype: int32

## #03. 타입 변환

Numpy와 마찬가지로 astype()메서드를 사용한다.

### [1] astype() 메서드 사용하기

#### (1) 실습을 위한 원본 배열 구성

In [7]:
origin = Series(np.arange(0,100, 10))
origin

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int32

#### (2) 원본의 데이터 타입 확인
단순 데이터 타입 확인

In [8]:
origin.dtype

dtype('int32')

상세 정보 확인

In [9]:
origin.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int32
dtypes: int32(1)
memory usage: 172.0 bytes

#### (3) 실수(float) 타입으로 변환

In [10]:
x = origin.astype('float')
print(x.dtype)
x

float64

0     0.0
1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
7    70.0
8    80.0
9    90.0
dtype: float64

#### (4) 문자열('str')타입으로 변환

In [11]:
y = origin.astype('str')
print(y.dtype)  #object라고 부름
y

object

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: object

## #04. 집계

In [12]:
print("합계:", origin.sum())
print("평균:", origin.mean())
print("최대:", origin.max())
print("최소:", origin.min())
print("분산:", origin.var())
print("표준편차:", origin.std())
print("중앙값:", origin.median())

합계: 450
평균: 45.0
최대: 90
최소: 0
분산: 916.6666666666666
표준편차: 30.276503540974915
중앙값: 45.0