# DataFrame 내보내기

DataFrame을 Excel이나 CSV형식으로 저장하기

VSCode에서의 결과 확인을 위해 Excel Viewer Extension을 설치하는 것이 좋다

## #01. 준비과정

### [1] 패키지 참조

In [1]:
from pandas import read_excel

### [2] 데이터 가져오기

In [2]:
df = read_excel("https://data.hossam.kr/pydata/grade.xlsx", index_col="이름")
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

## #02. 데이터 내보내기

### [1] 엑셀 파일로 내보내기
#### (1) 원본 파일 그대로 저장하기

In [3]:
df.to_excel("1.xlsx")

#### (2) 파라미터 설정

##### 인덱스를 포함하는 경우

In [4]:
df.to_excel("2.xlsx",             # 파일이름
            index=True,           # 인덱스 포함 여부 (기본값=True)
            index_label="Name")   # 인덱스 필드의 제목

##### 인덱스를 포함하지 않는 경우

In [6]:
df.to_excel("3.xlsx",                              # 파일이름
            index=False,                           # 인덱스 포함 여부 (기본값=True)
            columns = ['학년', '성별', '국어'],      # 저장할 컬럼 지정
            header=['level', 'sex', 'kor']         # 컬럼별 제목 설정
)

### [2] CSV로 내보내기

encoding을 설정하는 것 외에는 엑셀파일을 내보내는 것과 동일하다.

#### (1) 원본 그대로 저장하기

In [7]:
df.to_csv("1.csv", encoding = 'utf-8')

#### (2) 파라미터 설정
인덱스를 포함하는 경우

In [9]:
df.to_csv("2.csv",                # 파일이름
          encoding = "utf-8",     # 파일 인코딩
          index= True,            # 인덱스 포함 여부 (기본값 = True)
          index_label = "Name"    # 인덱스 필드의 제목
          )

인덱스를 포함하지 않는 경우

In [10]:
df.to_csv("3.csv",                          # 파일 이름
          encoding= "utf-8",                # 인코딩
          columns=['학년', '성별', '국어'],  # 저장할 컬럼 지정
          header = ['level', 'sex','kor']   # 컬럼별 제목 설정
          )

## 실습 결과물 모두 삭제

In [11]:
import os
import glob as gl

list1 = gl.glob("*.xlsx")
list2 = gl.glob("*.csv")
list3 = list1 + list2

for items in list3:
    os.remove(items)
    print("%s가 삭제됨" % items)

1.xlsx가 삭제됨
2.xlsx가 삭제됨
3.xlsx가 삭제됨
1.csv가 삭제됨
2.csv가 삭제됨
3.csv가 삭제됨