# 더미변수

명목형 변수를 연속형 변수"스럽게"변환한 것
카테고리 형태의 데이터를 '0,1,2'등의 연속형 숫자로 변환한 형태이다.

> ex. 남자, 여자 --> 0, 1

기존의 범주형 변수를 이진 변수로 대체하여 분석 모델에 적용할 수 있다.
일반적으로 머신러닝 알고리즘들은 연속적인 숫자를 다루는 데 더 효과적이기 때문에 더미 변수 변환이 필요함.

통계학에서는 '통제요인'이라고 부르기도 한다.

더미변수를 생성하는 방법에는 pandas 패키지가 제공하는 'get_dummies()'메서드를 사용하는 방법이 있다. 

<!-- patsy 패키지가 제공하는 'dmatrix()'함수를 사용하는 방법 -->

## #01. 준비과정

### [1] 패키지 참조

<!-- 'patsy' 패키지의 설치가 필요하다. -->

In [1]:
from pandas import read_excel, DataFrame, get_dummies
# from patsy import dmatrix
import numpy as np

### [2] 샘플 데이터 가져오기

In [4]:
origin = read_excel("https://data.hossam.kr/pydata/dum.xlsx")
origin.head()

   성별 비만도
0  남자  정상
1  여자  경도
2  여자  정상
3  남자  고도
4  남자  정상

<!-- ## #02. patsy 패키지 활용 더미변수 생성 -->

## #02. 모든 필드를 더미변수로 변환 ('N개' 생성)


### [1] 새로운 데이터 프레임 리턴받기 

원본 데이터프레임과 더미변수로 변환할 컬럼 이름을 파라미터로 전달한다.

원본 데이터프레임에서 기존의 컬럼은 제거되고 더미변수로 변경된 컬럼들이 추가된다.

dtype='int' 파라미터를 명시하지 않을 경우 bool 형식으로 값이 생성된다.

In [7]:
dummy_df = get_dummies(origin, columns = ['성별', '비만도'], dtype='int')
dummy_df.head()

# 남자 / 여자는 값이 2개인 명목형 변수 => 하나만 필요
# 비만도는 값이 3개. -> 그 중 2개만 필요.

   성별_남자  성별_여자  비만도_경도  비만도_고도  비만도_정상
0      1      0       0       0       1
1      0      1       1       0       0
2      0      1       0       0       1
3      1      0       0       1       0
4      1      0       0       0       1

## #03. 'N-1'개의 더미변수 생성

`drop_first` 파라미터를 'True'로 설정한다.

In [6]:
dummy_df = get_dummies(origin, columns = ['성별', '비만도'], dtype='int', drop_first=True)
dummy_df.head()

   성별_여자  비만도_고도  비만도_정상
0      0       0       1
1      1       0       0
2      1       0       1
3      0       1       0
4      0       0       1